@keyframes bg-transition {
	from {background-color: #000;}
	to {background-color: #060606;}
}

@keyframes opacity-transition {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes bob-up-down {
	0% {transform: translateY(0);}
	50% {transform: translateY(2%);}
	100% {transform: translateY(0);}
}

body {
	overflow-x: hidden;
	background-color: #FFF;
	overflow-y: scroll;
}

#index__art--left {
	position: absolute;
	left: -30px;
	bottom: 0;
	top: 0;
	margin: auto;
	z-index: 1;
	animation-name: bob-up-down;
	animation-iteration-count: infinite;
	animation-delay: 3s;
	animation-duration: 5s;
	animation-timing-function: ease-in;
}

#index__art--right {
	position: absolute;
	right: -30px;
	bottom: 0;
	top: 0;
	margin: auto;
	z-index: 1;
	animation-name: bob-up-down;
	animation-iteration-count: infinite;
	animation-delay: 3.5s;
	animation-duration: 5s;
	animation-timing-function: ease-in;
	height: 80vh;
	filter: brightness(70%);
}

.index-container {
	animation: opacity-transition 1s forwards 1.2s;
	height: 100vh;
	width: 60vw;
	left: 20vw;
	right: 20vw;
	position: absolute;
	z-index: 2;
	opacity: 0;
}

.index__title {
	color: #FFF;
	font-family: 'Righteous';
	font-weight: 800;
	margin: 0;
}

.index__subtitle {
	color: #FFF;
	font-family: 'Oswald';
	font-size: 20px;
}

.index__content {
	display: inline-block;
	vertical-align: middle;
	margin: auto;
	text-align: center;
}

.index__button {
	display: inline-block;
	margin: 0 5px 0 5px;
	color: #FFF !important;
	border: 2px solid #FFF !important;
}

.button--rounded {
	color: #000;
	border-radius: 3600px;
	border: 2px solid #000;
	transition: all 0.2s;
}

.button--rounded:hover {
	color: #00ff99;
	border: 2px solid #00ff99;
}

.nav-container {
	background-color: #00ff99;
	height: 50px;
	width: 100%;	
	border-radius: 0 0 5px 5px;
	border-bottom: 1px solid #00ff99;
	padding: 0;
	position: fixed;
	top: 0;
	z-index: 2;
	-webkit-box-shadow: 0px 10px 55px -8px rgba(0,0,0,0.38);
	-moz-box-shadow: 0px 10px 55px -8px rgba(0,0,0,0.38);
	box-shadow: 0px 10px 55px -8px rgba(0,0,0,0.38);
	border-bottom: 1px solid #666;
}	

.nav__title-container {
	margin: 0;
}

.nav__title {
	font-family: 'Righteous';
	font-size: 20px;
	color: #666;
	margin-left: 20px;
	margin-right: 40px;
	line-height: 50px;
}

.nav__button {
	color: #666;
	border: 2px solid transparent;
	vertical-align: middle;
	margin: 0 5px;
}

.nav__button:hover {
	color: #000;
	filter: brightness(70%);
}

.nav__button--active {
	color: #666;
	background-color: #FFF;
}

.nav__button--right {
	border-color: #666;
	color: #666;
	float: right;
	right: 20px;
	vertical-align: middle;
}


.mdl-chip--warning {
	background-color: yellow;
	color: #666;
}
.mdl-chip--danger {
	background-color: #CC0000;
	color: #FFF;
}

.mdl-chip--success {
	background-color: forestgreen;
	color: #FFF;
}

.mdl-chip {
	word-wrap: break-word;
	max-width: 90vw;
	text-overflow: ellipsis;
	overflow: hidden;
}

.mdl-chip__text {
	max-width: 70vw;
	text-overflow: clip;
}

#worklist__art {
	height: 150px;
	margin-left: 20px;
	float: right;
}

.worklist__header {
	margin-top: 70px;
}

.worklist__title {
	color: #666;	
	font-size: 30px;
	font-family: 'Righteous';
}

.worklist-container .mdl-data-table {
	background-color: #FFF;
	color: #666;
	width: 80vw;
	margin-left: 10vw;
}

.worklist-container .mdl-data-table th {
	color: #666;
	background-color: #00ff99;
	min-width: 10vw;
	border-bottom: 1px solid #00ff99;
}

.worklist-container .mdl-data-table tr:hover {
	background-color: transparent !important;
}

.mdl-menu__outline {
	border-radius: 5px !important;
	-webkit-box-shadow: 21px 20px 72px -12px rgba(0,0,0,0.27);
	-moz-box-shadow: 21px 20px 72px -12px rgba(0,0,0,0.27);
	box-shadow: 21px 20px 72px -12px rgba(0,0,0,0.27);
}

.study__title {
	color: #666;
	font-size: 20px;
	text-align: center;
	margin-top: 70px;
	font-family: 'Righteous';
}

.study__details {
	font-size: 14px;
	text-align: center;
	margin: 0;
}

.study__image {
	width: 80vw;
	margin-left: 10vw;
	border-radius: 5px;
}

#study__form {
	margin: 20px;
}

.study__form__prompt {
	color: #666;
	font-size: 16px;
}

.about-container {
	margin: 20px;	
}

.about__title {
	color: #666;
	font-family: 'Righteous';
	font-size: 20px;
	margin-top: 70px;
}

.about__subtitle {
	color: #666;
	font-family: 'Righteous';
	font-size: 18px;
}

.about__image {
	max-width: 90vw;
}

.login-container {
	margin: auto;
	position: absolute;
	min-height: 60vh;
	width: 30vw;
	background-color: #00ff99;
	top: 20vh;
	left: 35vw;
	-webkit-box-shadow: 0px 10px 55px -8px rgba(0,0,0,0.38);
	-moz-box-shadow: 0px 10px 55px -8px rgba(0,0,0,0.38);
	box-shadow: 0px 10px 55px -8px rgba(0,0,0,0.38);
	border-radius: 5px;
	border: 1px solid #666;
}

.login-container * {
	color: #666;
}

.login__title {
	margin: 20px;
	font-size: 20px;
	text-align: center;
	font-family: 'Righteous';
	color: #666;
}

.login-container p {
	text-align: center;
}

input[type="text"], input[type="password"] {
	border: 1px solid #666;
	padding: 10px;
	border-radius: 5px;
	outline: none;
}