{% extends "bootstrap/base.html" %}
{% block title %} RadAI - Man vs Machine {% endblock %}

{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script defer src="{{ url_for('static',filename='scripts.js') }}"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
<link href="https://fonts.googleapis.com/css?family=Oswald|Righteous" rel="stylesheet">
{%- endblock %}

{% block navbar %}
<div class="nav-container mdl-grid">
	<div class="mdl-cell mdl-cell--3-col mdl-cell--middle mdl-cell--stretch nav__title-container">
		<p class="nav__title">Rad AI</p>
	</div>
	<div class="mdl-cell mdl-cell--9-col mdl-cell--middle mdl-cell--hide-phone">
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect button--rounded nav__button" onclick="openURL('{{ url_for('index') }}')" id="{{ url_for('index') }}">
			Home
		</button>
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect button--rounded nav__button" onclick="openURL('{{ url_for('about') }}')" id="{{ url_for('about') }}">
			About us
		</button>
		
		{% if current_user.is_anonymous %}
		
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect button--rounded nav__button nav__button--right" onclick="openURL('{{ url_for('login') }}')" id="{{ url_for('login') }}">
			Login
		</button>
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect button--rounded nav__button nav__button--right" onclick="openURL('{{ url_for('register') }}')" id="{{ url_for('register') }}">
			Register
		</button>
		
		{% else %}
		
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect button--rounded nav__button" onclick="openURL('{{ url_for('worklist') }}')" id="{{ url_for('worklist') }}">
			Worklist
		</button>
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect button--rounded nav__button" onclick="openURL('{{ url_for('stats') }}')" id="{{ url_for('stats') }}">
			Stats
		</button>
		
		<button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect button--rounded nav__button--right" id="nav__account-button">
			<i class="material-icons">account_circle</i>
		</button>
				
		<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
				for="nav__account-button">
			<li disabled class="mdl-menu__item" style="color:#000">{{current_user.email}}</li>
			<li class="mdl-menu__item" onclick="openURL('{{ url_for('logout') }}')">Log out</li>
		</ul>
		
		{% endif %}
		
	</div>
</div>

{% endblock %}
