{% block title %} RadAI - Man vs Machine {% endblock %}

{# Then, inside the head block, we apply these.#}
{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script defer src="{{ url_for('static',filename='scripts.js') }}"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
<link href="https://fonts.googleapis.com/css?family=Oswald|Righteous" rel="stylesheet">
{%- endblock %}

{% block content %}

<img src="{{ url_for('static',filename='images/machine.gif') }}" id="index__art--left">	
<img src="{{ url_for('static',filename='images/man.png') }}" id="index__art--right">	
<div class="mdl-grid index-container">
	<div class="mdl-cell mdl-cell--12-col index__content">
		<h1 class="index__title">Rad AI</h1>
		<p class="index__subtitle">Beat the machine!</p>
		
		{% if current_user.is_anonymous %}
		
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect button--rounded index__button" onclick="openURL('{{ url_for('register') }}')">
			Register
		</button>
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect button--rounded index__button"  onclick="openURL('{{ url_for('login') }}')">
			Login
		</button>
		
		{% else %}
		
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect button--rounded index__button" onclick="openURL('{{ url_for('worklist') }}')">
			Select a study
		</button>
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect button--rounded index__button"  onclick="openURL('{{ url_for('about') }}')">
			About us
		</button>
		
		{% endif %}
		
	</div>
</div>

{% endblock %}
