{% extends "base.html" %}

{%block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
{% if messages %}
{% for category, message in messages %}
<span class="mdl-chip mdl-chip--deletable mdl-chip--{{ category }}">
	<span class="mdl-chip__text">{{ message }}</span>
	<button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
</span>
{% endfor %}
{% endif %}
{% endwith %}
<div class="login-container">
	<p class="login__title">Sign in</p>
	<form class="form form-horizontal" action="" method="post">
		{{form.hidden_tag()}}

		<p class="text-center">
			{{form.email.label}} <br>
			{{form.email(size=32)}}

			{% for error in form.email.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p class="text-center">
			{{form.password.label}} <br>
			{{form.password(size=32)}}

			{% for error in form.password.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p class="text-center">{{form.remember_me()}} {{ form.remember_me.label }} </p>
		<p class="text-center">{{form.submit()}} </p>
	</form>
	<p class="text-center">New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
</div>

{% endblock %}