{% extends "base.html" %} {%block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
{% if messages %}
{% for category, message in messages %}
<span class="mdl-chip mdl-chip--deletable mdl-chip--{{ category }}">
	<span class="mdl-chip__text">{{ message }}</span>
	<button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
</span>
{% endfor %}
{% endif %}
{% endwith %}
<div class="login-container">
	<p class="login__title">Register</p>
	<form action="" method="post">
		{{ form.hidden_tag() }}

		<p class="text-center">
			{{ form.email.label }}<br>
			{{ form.email(size=32) }}<br>
			{% for error in form.email.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p class="text-center">
			{{ form.password.label }}<br>
			{{ form.password(size=32) }}<br>
			{% for error in form.password.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p class="text-center">
			{{ form.password2.label }}<br>
			{{ form.password2(size=32) }}<br>
			{% for error in form.password2.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p class="text-center">{{ form.submit() }}</p>
	</form>
</div>

{% endblock %}