{% extends "base.html" %} {% block content %}
<div class="study-container">
	{% with messages = get_flashed_messages(with_categories=true) %}
	<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
	{% if messages %}
	{% for category, message in messages %}
	<span class="mdl-chip mdl-chip--deletable mdl-chip--{{ category }}">
		<span class="mdl-chip__text">{{ message }}</span>
		<button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
	</span>
	{% endfor %}
	{% endif %}
	{% endwith %}
	<p class="study__title">Chest X-Ray Reporting Demographics</p>
	<p class="study__details">Patient ID: {{image_details.pt_id}}</p>
	<p class="study__details">Patient age: {{image_details.age}}</p>
	<p class="study__details">Patient sex : {{image_details.sex}}</p>
	<img src="{{ url_for('static', filename=user_image) }}" class="study__image">
	<hr>
	<form action="" method="post" id="study__form">
		<div class="form-check form-check-inline">
			<legend class="study__form__prompt">Is the CXR diagnostic of pneumonia</legend>
		</div>
		<div class="form-check form-check-inline">
			<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="pneumoniaRadio1">
				<input type="radio" id="pneumoniaRadio1" class="mdl-radio__button form-check-input" name="pneumonia" value="1" checked>
				<span class="mdl-radio__label">Diagnostic of pneumonia</span>
			</label>
		</div>
		<div class="form-check form-check-inline">
			<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="pneumoniaRadio0">
				<input type="radio" id="pneumoniaRadio0" class="mdl-radio__button form-check-input" name="pneumonia" value="0">
				<span class="mdl-radio__label">Negative for pneumonia</span>
			</label>
		</div>

		<br>
		<legend class="study__form__prompt">Other findings on the CXR</legend>
		<div class="form-check">
			<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="findingsCheck1">
				<input type="checkbox" id="findingsCheck1" class="mdl-checkbox__input form-check-input" value="1" name="consolidation">
				<span class="mdl-checkbox__label">Consolidation</span>
			</label>
		</div>
		<div>
			<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="findingsCheck2">
				<input type="checkbox" id="findingsCheck2" class="mdl-checkbox__input form-check-input" name="infiltrates" value="1">
				<span class="mdl-checkbox__label">Infiltrates</span>
			</label>
		</div>
		<div>
			<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="findingsCheck3">
				<input type="checkbox" id="findingsCheck3" class="mdl-checkbox__input form-check-input" name="atelectasis" value="1">
				<span class="mdl-checkbox__label">Atelectasis</span>
			</label>
		</div>
		<br>
		<div class="form-group">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input form-control" type="text" id="studyComments" placeholder="Other Findings" name="comments">
				<label class="mdl-textfield__label" for="studyComments">Comments</label>
			</div>
		</div>
		<div class="form-ground">
		<a href="/study/{{img_id}}"> <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect button--rounded">Save Report</button> </a>
		<a href="{{ url_for('worklist')}}"> <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect button--rounded">Cancel</button> </a>
		</div>
		<br>
		<br>
	</form>
</div>

{% endblock %}