{% extends "base.html" %}

{% block content %}

<div class="worklist-container">
	{% with messages = get_flashed_messages(with_categories=true) %}
	<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
	{% if messages %}
	{% for category, message in messages %}
	<span class="mdl-chip mdl-chip--deletable mdl-chip--{{ category }}">
		<span class="mdl-chip__text">{{ message }}</span>
		<button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
	</span>
	{% endfor %}
	{% endif %}
	{% endwith %}
	
	<div class="mdl-grid worklist__header">
		<div class="mdl-cell mdl-cell--4-col">
			<img src="{{ url_for('static',filename='images/worklist-header.png') }}" id="worklist__art">
		</div>
		<div class="mdl-cell mdl-cell--8-col mdl-cell--middle	">
			<p class="worklist__title">Select a study to interpret</p>
		</div>
	</div>
	
	<table class="mdl-data-table mdl-js-data-table">
		<thead>
			<tr>
				<th>Patient ID</th>
				<th class="mdl-data-table__cell--non-numeric">Study</th>
				<th>Age</th>
				<th class="mdl-data-table__cell--non-numeric">Sex</th>
				<th class="mdl-data-table__cell--non-numeric"></th>
			</tr>
		</thead>
		<tbody>
			{% for my_data in myworklist_data %}
			<tr>
				<td>{{my_data.pt_id}}</td>
				<td class="mdl-data-table__cell--non-numeric">CXR</td>
				<td>{{my_data.age}}</td>
				<td class="mdl-data-table__cell--non-numeric">{{my_data.sex}}</td>
				<td class="mdl-data-table__cell--non-numeric"><button class="mdl-button mdl-js-button mdl-js-ripple-effect button--rounded" onclick="window.location.pathname = '/study/{{my_data.img}}'">
					Choose
					</button>
				</td>
			</tr>
			{% endfor %} 
  	</tbody>
	</table>
</div>

{% endblock %}
